.searchbar {
  display: flex;
  margin: 19px 0 80px 0;
}

.searchbar img {
  padding: 20px 15px;
}

.searchbar input {
  width: 100%;
  padding-left: 36px;
  font: var(--font-search-bar);
}

.searchbar button {
  cursor: pointer;
  background-color: #f0f0f0;
}

.searchbar button:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.spinner {
  width: 67px;
  height: 75px;
  padding: 20px 15px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
