:root {
  font-size: 16px;
  --font-slogan: 800 5.75rem 'Inter', sans-serif;
  --font-heading: 700 3.375rem 'Roboto Mono', sans-serif;
  --container-max-width: 1151px;
  --section-min-height: 1194px;
  --section1-color: #fef6e1;
  --section2-color: #f9f9f9;
  --section3-color: #fdebeb;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  min-width: 320px; /* allows block level elements to grow/shrink */
  min-height: 100vh;
}