:root {
  font-size: 16px;
  --font-slogan: 800 5.75rem 'Inter', sans-serif;
  --font-heading: 700 3.375rem 'Roboto Mono', sans-serif;
  --font-navbar-items: 700 0.9rem 'Roboto', sans-serif;
  --font-card-title: 700 1.25rem 'Roboto', sans-serif;
  --font-card-info: 700 0.938rem 'Roboto', sans-serif;
  --font-avatar: 700 1.625rem 'Roboto Mono', sans-serif;
  --font-search-bar: 700 1.25rem 'Roboto Mono', sans-serif;
  --color-default: #000;
  --color-section1: #fef6e1;
  --color-section2: #f9f9f9;
  --color-section3: #fdebeb;
  --color-search-bar-button: #eaeaea;
  --container-max-width: 1151px;
  --section-min-height: 1194px;

  color: var(--color-default);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px; /* allows block level elements to grow/shrink */
  min-height: 100vh;
  word-break: break-word;
}