.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 331px));
  grid-template-rows: repeat(2, minmax(450px, auto));
  column-gap: 40px;
  row-gap: 113px;
  justify-content: center;
  padding-top: 242px;
}

.placeholder {
  background-color: #aed427;
  height: 450px;
}

@media (max-width: 768px) {
  .cardContainer div:nth-child(n+3) {
    display: none
  }

  .cardContainer {
    grid-template-rows: none;
  }
}