.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 331px));
  grid-template-rows: repeat(2, minmax(450px, auto));
  column-gap: 40px;
  row-gap: 113px;
  justify-content: center;
  padding-top: 242px;
}

.placeholder {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 211, 164);
  /*background: linear-gradient(
    0deg,
    rgba(228, 211, 164, 1) 25%,
    rgba(247, 233, 195, 0.8997724089635855) 58%
  );*/
  background: linear-gradient(0deg, rgba(228,211,164,0.6168592436974789) 25%, rgba(247,233,195,0.8521533613445378) 58%);
}

.placeholder img {
  width: 60%;
  height: 60%;
}

@media (max-width: 768px) {
  .cardContainer div:nth-child(n + 3) {
    display: none;
  }

  .cardContainer {
    grid-template-rows: none;
  }
}
